.bottom{
    transition: all 0.8s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left : 0px;

    color: white;

    height: 50px;
    width: 100vw;

    padding: 10px;
    box-sizing: border-box;
    
    font-size: 13px;
    text-align: center;
}
.bottom span{
    animation: fadeIn ease-in-out 0.8s forwards;
}
@media screen and (orientation : landscape){
    .bottom{
        bottom:0px;
        height: 50px;
        z-index: 10;
        padding-right: calc(100vw - 300px);
    }
}

/*
@media screen and (min-width : 601px)
{
    .bottom span{
        font-size: 18px;
    }
}*/