
.header{
    transition: all 0.8s ease-in-out;

    position:  fixed;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0px;
    box-sizing: border-box;

    color: white;
}

.header_btn{
    animation: fadeIn ease-in-out 0.8s forwards;

    position: fixed;
    top : 10px;
    height: 20px;

    text-align: center;
    background-color: opacity(0);
    color : whitesmoke;
    z-index: 30;
}
.header .reset{
    left: 10px;
    width: 50px;
    border-bottom: solid whitesmoke 2px;
}
.header .status{
    left : 70px;
    width: auto;
    text-align: left;
    padding: 0px 5px;
    border-bottom: solid whitesmoke 2px;

}

#wellcome{
    transition: 1s ease-in-out;
    animation: fadeIn ease-in-out 0.8s forwards;

    margin: 0px;
    padding : 0px 20px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
#login_form{
    margin : 20px 0px;
    border : 10px solid white;
    background-color: none;
}
#input_name{
    z-index: 100;
    background-color:rgba(0,0,0,0);
    color : white;
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 50px;
    border : none;
}
#input_name::placeholder{

    color: white;
}

#weather_info{
    animation: fadeIn ease-in-out 2.5s forwards;

    height: 30px;
    color:palegoldenrod;
    font-weight: 600;
    font-size: 20px;
    
    padding : 0px 20px;
    text-align: center;
}
#clock{
    transition: 1s ease-in-out;
    animation: fadeIn ease-in-out 0.8s forwards;

    margin:20px 0px;
    font-size: 51px;
    font-weight: 600;

    width: 210px;
    text-align: start;

    border : solid white 10px;
    padding : 10px;
}



@media screen and (orientation: portrait)
{
    .header{
        will-change:auto;
        width: 100vw;
        height: 300px;
    }
}
@media screen and (orientation: landscape)
{
    .header{
        will-change:auto;
        width: 300px;
        height: 100vh;
    }
    #wellcome {
        font-size: 36px;
        margin : 0px 10px;
    }
}
@media screen and (orientation : portrait) and (max-width : 340px){
    #clock{
        font-size: 35px;
        width: 145px;
    }
}

@media screen and (orientation : landscape) and (max-height : 400px)
{
    #wellcome {
        font-size: 32px;
    }
    #clock{
        font-size: 35px;
        width: 145px;
    }
    #weather_info{
        font-size: 15px;
    }
}
