
.main{
    animation: fadeIn ease-in-out 0.8s;
    margin-top: 300px;
    padding-top: 50px;
    color: rgba(0,0,0,0.6);
}
.input_todo_area{
    will-change: auto;
    transition: all 0.6s ease-in-out ;

    position: absolute;
    bottom: -25px;

    width: 60vw;
    height: 50px;
    z-index: 100;
}
.input_todo_area:focus-within{
    width: 70vw;
    animation: dance ease-in-out 0.7s infinite;
}
#input_todos{
    animation: fadeIn ease-in-out 1.0s;
    position: absolute;

    background-color: white;
    color: gray;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px gray;

    height: 50px;
    width: 100%;

    text-align: center;
    font-size: 16px;

    padding : 0px 60px;
    margin: 0px;

    box-sizing: border-box;
}
#input_todos_btn{
    /*transition: all 0.6s ease-in-out ;*/

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    height: 50px;
    width: 50px;
    right: 0px;

    border-radius: 50%;
    border : none;

    padding : 0px;
    margin: 0px;

    background-color:salmon;
    color: white;
    font-size: 20px;
}
#todolist{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0px;
    margin-top: 0px;
}
#todolist i{
    color: lightblue;
}
#todolist i:hover{
    color: salmon;
}
#todolist li{
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition : background 0.5s ease-in-out;

    border-radius: 10px;
    width: 80vw;
    
    list-style: none;
    border-bottom: rgba(0, 0, 0, 0.05) solid 1px;

    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
#todolist li span:hover{
    color : salmon;
}
#todolist li span:first-child{
    font-weight: 600;
}


#todolist li span:nth-child(2){
    width: calc(80vw - 170px);
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
    margin : 0px 15px;
}
/*hover animation in list
#todolist li span:first-child:hover{
    animation: dance 0.7s ease-in-out infinite;
}
#todolist li span:nth-child(2):hover{
    animation: dance 0.7s ease-in-out infinite;
}
#todolist li span:last-child:hover{
    animation: dance 0.7s ease-in-out infinite;
}
*/

#todolist li:last-child{
    border: none;
    margin-bottom: 50px;
}