
#popup{
    z-index: 10;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: calc(100vh / 5);
    
    border-radius: 25px;
    box-shadow: 0px 0px 10px gray;

    height: 60vh;

    background-color: white;
    color: grey;

    font-size: 20px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}
@media screen and (max-width : 600px){
    #popup{
        right: 10vw;
        width: 80vw;
    }
}
@media screen and (min-width : 601px){
    #popup{
        right: 20vw;
        width: 60vw;
    }
}
#popup_time{
    font-size: 24px;
    position: absolute;
    top : 0px;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;

    color : salmon;


    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    height: 50px;
    width: 100%;
}
#popup_text{
    border : none;

    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#popup_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: salmon;
    color: white;
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 50px;

    font-size: 17px;
}
#popup_highlight{
    width : 30%;
}
#popup_save{
    width : 30%;
}
#popup_close{
    width : 30%;
}