@import "animation.css";
@import "popup.css";
@import "header.css";
@import "main.css";
@import "bottom.css";

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;

    position: relative;
}

body{
    margin: 0px;
}

input[type="text"]:focus-within{
    outline: none;
}

#splash_img{

    visibility: hidden;

    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    left: 0px;
    top: 0px;

    width: 100vw;
    height: 100vh;

    font-size: 25px;
    color: white;
    background-color: salmon;

    animation: splash 1s ease-in-out forwards;
    animation-delay: 1.3s;
}
#splash_img span
{
    animation: fadeIn ease-in-out 0.6s forwards;
    margin-top: 20px;
    font-weight: 600;
}
#splash_img i{
    animation: fadeIn ease-in-out 0.6s forwards;
}
.hidden{
    display: none;
    opacity: 0;
}

.appear{
    display: flex;
    animation: fadeIn 0.5s ease-in-out forwards;
}    
.disappear{
    animation: fadeOut 0.5s ease-in-out forwards;
}

.star{
    background-color:khaki;
    font-weight: 800;
}

.transition_all{
    transition: all ease-in-out 1s;
}

.info_screen{

    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: salmon;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.info_screen div{
    animation: fadeIn 0.8s ease-in-out forwards;
}
.info_back{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top : 10px;
    right : 10px;
    width: 50px;
    padding-bottom: 2px;
    border-bottom: white 2px solid;
}
.info_screen a{
    color: white;
    z-index: 10;
    text-decoration: none;
}

.info_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 150px;

    color :white;
    font-size: 45px;
    font-weight: 600;
}
.info_title div:last-child{
    font-size: 30px;
}

.info_main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    width: calc(100vw - 100px);
    height: calc(100vh - 300px);

    border : solid white 10px;
}
.info_main div{

    overflow-y:scroll;
    height: 140px;
}

.info_sub{
    display: flex;
    align-items: center;

    color: white;
    font-size: 20px;
    display: flex;
    width: calc(100vw - 100px);
}

.info_sub div:first-child{
    overflow-x:scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    margin: 0px;
    padding: 0px;
    width:30vw;
}

.info_sub div:last-child{

    overflow-y:scroll;

    resize: none;
    display: flex;
    width: 50vw;
    height: 70px;

    align-items: center;

    margin: 0px;
    padding: 10px;

    font-size: 10px;
    border-left : solid 2px white;

    line-height: 20px;
}